<h1>Gestion des equipes </h1>


<input matInput (keyup)="applyFilter($event.target.value)" placeholder=" Recherche ...">
<button mat-button matPrefix mat-icon-button>
  <mat-icon>search</mat-icon>
</button>
<div class="col-6 col-sm-4 col-md-2" style="margin-left: 80%">
  <button routerLink="/ajout-equipe"
          class="btn btn-block btn-primary" type="button">Ajouter</button>
</div>
<br>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="col-12">
    <ng-container matColumnDef="libelle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > libelle </th>
      <td mat-cell *matCellDef="let pd "> {{pd.libelle}} </td>
    </ng-container>
    <ng-container matColumnDef="uniterecherche">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > uniterecherche </th>
      <td mat-cell *matCellDef="let pd "> {{pd.uniteRecherche.label}} </td>
    </ng-container>
    <ng-container matColumnDef="dateCreation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >dateCreation </th>
      <td mat-cell *matCellDef="let pd "> {{pd.dateCreation|date}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let pd ">

        <button mat-button color="primary"
                title="Update"
                data-toggle="modal" data-target="#exampleModal" (click)=" populateForm(pd)" >
          <i class="material-icons" > edit</i>
        </button>

        <button mat-button color="primary"   title="Delete"
                data-toggle="modal" data-target="#deletemodal" (click)=" populateForm(pd)" >
          <i class="material-icons" > delete</i>
        </button>

      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let pd ; columns: displayedColumns;">

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]"  showFirstLastButtons></mat-paginator>
</div>

<!-- ********************End modal ********************* -->
<!-- Modal delete -->
<div class="modal fade bd-example-modal-lg" id="deletemodal" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deletemodalLabel">Supprimer Equipe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      Voulez-vous vraiment supprimer cet equipe?
      <div class="modal-footer">
        <button mat-button color="warn"
                (click)="onDelete(service.formData.idRech)" data-dismiss="modal">Supprimer</button>
        <button mat-button color="primary"  data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>
<!-- ********************End modal ********************* -->


<!-- Modal update -->
<div class="modal fade bd-example-modal-lg"
     id="exampleModal" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier Equipe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <form #form="ngForm" autocomplete="off"
              (ngSubmit)="updateRecord(form)" method="PUT" [formGroup]="EquipeRechercheForm">
          <div class="form-group ">
            <label>Nom Equipe:*</label>
            <input type="text" id="libelle"
                   required="required"
                   class="form-control"
                   [(ngModel)]="service.formData.libelle"
                   name="libelle"
                   formControlName="libelle"
                   [ngClass]="{ 'is-invalid': submitted && f.libelle.errors }">
            <div *ngIf="submitted && f.libelle.errors" class="invalid-feedback">
              <div *ngIf="f.libelle.errors.required">libelle est requis</div>
            </div>
          </div>
          <div class="form-group ">
            <label>unite:*</label>
            <select  class="form-control"   [(ngModel)]="service.formData.uniteRecherche"
                     [ngModelOptions]="{standalone: true}">
              <option value="" selected></option>
              <option *ngFor="let lab of listUnite" [ngValue]="lab">
                {{lab.label}}
              </option>
            </select>
          </div>
          <div class="form-group ">
            <label>Date Creaction</label>
            <input type="date" id="dateCreation" class="form-control"
                   [(ngModel)]="service.formData.dateCreation"
                   name="dateCreation"
                    formControlName="dateCreation"
                   [ngClass]="{ 'is-invalid': submitted && f.dateCreation.errors }">

            <div *ngIf="submitted && f.dateCreation.errors" class="invalid-feedback">
              <div *ngIf="f.dateCreation.errors.required">Date est requis</div>
            </div>
          </div>


        </form>

       </div>
      <div class="modal-footer">
        <button mat-button color="warn" (click)="onSubmit(form)" data-dismiss="modal">Sauvgarder</button>
        <button mat-button color="primary"  data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>
<!-- ********************End modal ********************* -->

