<!-- main app container -->
<div class="card m-3">
  <h5 class="card-header">Ajouter Fournisseur</h5>
  <div class="card-body">

    <form  #form="ngForm" autocomplete="off"
           (ngSubmit)="onSubmit()" method="POST" [formGroup]="FournisseurForm">
      <div class="form-group ">
        <label>nom:*</label>
        <input type="text" id="nom"
               required="required" class="form-control"
               [(ngModel)]="service.formData.nom"
               name="nom"
               formControlName="nom"  [ngClass]="{ 'is-invalid': submitted && f.nom.errors }">
        <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
          <div *ngIf="f.nom.errors.required">nom est requis</div>
        </div>
      </div>
      <div class="form-group ">
        <label>prenom:*</label>
        <input type="text" id="prenom" required="required" class="form-control"
               [(ngModel)]="service.formData.prenom"  name="prenom"
               formControlName="prenom"
               [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }">
        <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
          <div *ngIf="f.prenom.errors.required">prenom est requis</div>
        </div>
      </div>
      <div class="form-group ">
        <label>email:*</label>
        <input type="text" id="email" required="required" class="form-control"
               [(ngModel)]="service.formData.email"  name="email"
               formControlName="email"
               [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">email est requis</div>
        </div>
      </div>

      <div class="form-group ">
        <label>numerotel:*</label>
        <input type="text" id="numerotel" required="required" class="form-control"
               [(ngModel)]="service.formData.numerotel"  name="numerotel"
               formControlName="numerotel"
               [ngClass]="{ 'is-invalid': submitted && f.numerotel.errors }">
        <div *ngIf="submitted && f.numerotel.errors" class="invalid-feedback">
          <div *ngIf="f.numerotel.errors.required">numerotel est requis</div>
        </div>
      </div>
      <div class="form-group ">
        <label>adresse:*</label>
        <input type="text" id="adresse" required="required" class="form-control"
               [(ngModel)]="service.formData.adresse"  name="adresse"
               formControlName="adresse"
               [ngClass]="{ 'is-invalid': submitted && f.adresse.errors }">
        <div *ngIf="submitted && f.adresse.errors" class="invalid-feedback">
          <div *ngIf="f.adresse.errors.required">adresse est requis</div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-1"    type="submit" >Ajouter</button>
        <button class="btn btn-secondary" type="reset" (click)="Retourner()">Annuler</button>
      </div>
    </form>
  </div>
</div>

